.image {
  padding-right: 50px;
}
.container {
  background-image: linear-gradient(to right, #f4c330ea 30%, #00ff00);
  height: 100vh;
}
.logo {
  height: 80px;
  width: 100px;
  border-radius: 10px;
}
