.image {
  padding-right: 50px;
}
.container {
  background-image: linear-gradient(to right, #a34673, #1e66d9, #872f34);
  height: 100vh;
}
.logo {
  height: 50px;
  width: 50px;
  border-radius: 10px;
}
